/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 
}

body {
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #222;
    color: white;
    /*padding: 35px 0;*/
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    font-size: 18px;

}
.banner img{
    width: 200px;
    height: 200px;
    float: left;
    z-index: 3;

}
.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.logo span {
    color: #d1b441;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Seção principal */
.hero {
    background: linear-gradient( #d8bc7e, #cc9c53);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.hero .btn {
    display: inline-block;
    background-color: white;
    color: #ff9900;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.hero .btn:hover {
    background-color: #333;
    color: #fff;
}
.book-details{
    padding: 0 2rem;
    
}
/* Página de detalhes do livro */
.book-details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f9f9f9;
    padding: 40px 20px;
}

/* Quadrado principal */
.book-box {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    max-width: 900px;
    width: 100%;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.book-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Imagem */
.book-box img {
    width: 280px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

/* Texto */
.book-info {
    flex: 1;
    text-align: left;
}


.book-info p {
    margin: 10px 0;
    color: #555;
    line-height: 35px;
}

/* Botão voltar */
.btn-voltar {
    display: inline-block;
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;

}

.btn-voltar:hover {
    background-color: #e68a00;
}

/* Produtos */
.products {
    padding: 60px 20px;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 40px;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 320px;

}

.product-card h3 {
    font-size: 1.1em;
    margin: 15px 0;
}

.product-card button {
    background-color: #ecd3af;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    font-size: medium;
}

.product-card button:hover {
    background-color: #e68a00;
}

/* Rodapé */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
